/* .home-section-text {
    width: 50ch;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
    text-align: center;
} */

.header {
    color: #FFFFFF;
    font-family: 'Red Rose', serif;
    text-align: center;
    position: relative;
    top: 300px;
}

.background {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    background-image: url('../../assets/home_page_pic.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    gap: 0;
    /* background-repeat: no-repeat; */
    /* background-color: #635F5F; */
}