
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap');

#logo {
    width:60px;
    height: auto;
}

.topnav {
    position: fixed;
    width: 100%;
    background: #111111e0;
    font-family: 'Red Rose', serif;
    font-size: 20px;
    top: 0px;
    padding-top: 0px;
}

.topnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.linkitem{
    margin-top: 10px;
}

.topnav .linkitem a:hover{
    color: #ab28bc;
    cursor: pointer;
}

.topnav li a{
    display: block;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}