@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
body {
    background-color: #1e1e1e;
}
.contact-section-text {
    color: #FFFFFF;
    font-family: 'Red Rose', serif;
}
p {
    color: #FFFFFF;
    font-family: 'Red Rose', serif;
}
h1 {
    color: #FFFFFF;
    font-family: 'Red Rose', serif;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    width: 100vw;           
    min-height: 100vh;      
    text-align: center;     
    padding-top: 0px; 
    box-sizing: border-box;
}